<ul class="nav navbar-nav navbar-right">
    <li class="app-user navbar-text"></li>
    <li><a href="javascript:;" class="app-show-graph">GraphToken</a></li>
    <li><a href="javascript:;" class="app-hide-graph">HideGraphToken</a></li>
    <li><a href="javascript:;" class="app-logout">Logout</a></li>
    <li><a href="javascript:;" class="app-login">Login</a></li>
</ul>